
/*Heading and Body*/

body {
    min-width:300px;
    background: mistyrose;
}

h1 {
    font-size: 32px;
    font-family: 'fantasy', 'monospace', 'Franklin Gothic Medium';
    color: maroon;
    margin-top: 15px; 
    margin-bottom: 15px;
}

hr{
    height: 8px; 
    margin-bottom: 25px; 
    background-color: black; 
}

div{
    text-align: center;
}


/*Buttons and Submit Input Type*/

.buttons, input[type = "submit"] {
    background-color: red;
    color: pink;

    font-size: 32px;
    font-family: 'fantasy', 'monospace', 'Franklin Gothic Medium';
    text-decoration: none;
    text-align: center; 

    border-radius: 2px;
    border-style: ridge;
    border-color: crimson; 

    cursor: pointer;

    margin-bottom: 10px;
    min-width: 200px; 
    min-height: 50px;
}

.buttons:hover {
  background-color: pink;
  color: red; 
  transition: .7s;
}

.buttons:active { 
    transform: scale(0.96); 
    transition: 0.01s;
} 

.submitButton, .home, .reset {
    font-size: 25px;
    min-width: 125px; 
    min-height: 35px;
}

/*Input Text*/

input[type = "text"] {
    width: 85px; 
    font-family: 'monospace';
}

#minNum {
    margin-right: 50px;
}

/*Paragraphs, Labels, and Span*/

label, p{
    color: crimson;
    font-family: 'fantasy', 'monospace', 'Franklin Gothic Medium';
    font-size: 20px;
}

#minNumLabel {
    margin-right: 60px;
}

#errorMessage {
    display: none; 
}

span {
    font-size: 45px; 
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .04em;
}

